@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa'), url('../fonts/NexaDemo-Bold.ttf') format('ttf');
    }

body {
    background-color: #005B96;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;    
    font-weight: 300;
    color: white;
}


li {
    list-style: none;
    display: inline;
}

.page-width {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}


/* Header Styling */

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-logo:before {
  content: "\A";
  white-space: pre;
}

.sub-logo{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 0.5;
    font-weight: 300;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Nexa', sans-serif; 
}

.header-item {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;   
}

.header-item:hover {
    color: rgba($color: white, $alpha: 0.6); 
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    top: 50%;
    left: 5%;
    position: absolute;
    z-index: 1;
}

.nav-links {
    position: absolute;
    left: 70%;
}

.button {
    border-radius: 12px;
    border: 1px solid ;
    padding: 10px;
    display: inline-block;
}

/* Index Styling */

.about {
    background-color: white;
    color: #005B96;
}




/* Contact Styling */

.centered {
    position: absolute;
    top: 30%;
    right: 50%;
}

/* Resume Styling */

.resume-page-width {
    margin-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
}

@media only screen and (max-width: 600px) {
    .resume-page-width {
        padding: 30px;
    }
}

.resume-h1 {
    font-size: 2.5rem;
    font-family: 'Nexa', sans-serif; 
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    z-index: 1;
    margin-bottom: 30px;
}

.resume-text {
    font-size: 1.6rem;
    font-weight: 350;
    line-height: 1.1;
    display: inline-block;
    z-index: 1;
}

.column {
    display: grid;
    grid-template-columns: auto;
}

.skills {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    row-gap: 20px;
    gap: 20px;
    padding-left: 0px;
}

.tools {
    display: flex;
    flex-direction: row;
    gap: 20px 30px;
    font-size: 22px;
    font-weight: 300;
    padding-left: 0;
}

.icon {
    color: white;
    font-size: 2em;
}

.icon:hover {
    color: rgba($color: white, $alpha: 0.6)
}

.work-experience {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    gap: 40px;
    align-items: baseline;
    padding-left: 0px;
}

.company {
    border-left: 5px solid white;
    padding-left: 20px;
    font-size: 22px;
    font-family: 'Nexa', sans-serif; 
    font-weight: 600;
    line-height: 1.2;
    display: inline-block;
    z-index: 1;
}

.location {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 300;  
}

.role {
    font-size: 1.4em;
    font-family: 'Source Sans Pro', sans-serif; 
    overflow-wrap: break-word;
    line-height: 1.3;
}


.resume-links {
    color: white;
    text-decoration: none;
}

.resume-links:hover {
    color: rgba($color: white, $alpha: 0.6); 
}

.job-title {
    font-weight: 550;
}

.qualifications {
    display: grid;
    grid-template-columns: 250px auto;
    row-gap: 20px;
    gap: 40px;
    align-items: center;
    padding-left: 0px;
}

.education {
    font-family: 'Nexa', sans-serif; 
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Styling */

footer {
    background-color: #011F4B;
    width: 100%;
    margin-top: 100px;
    position: absolute;
   }

.is-white {
    color: white;
}

.icon-spacing {
    position: absolute;
    left: 80%;
}

.footer-icon {
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

.footer-icon:hover {
    color: rgba($color: white, $alpha: 0.6);
}

